.maintenance{
    background: #252525; 
    display: flex;
    position: relative;
    @media (max-width: 1099px){
        display: block;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: url(../images/services/bg.jpg) no-repeat scroll 0 0;
        background-size: cover;
        opacity: 0.08;
    }
    .maintenance_left{
        width: calc(50% + 115px);
        float: left;
        padding-right: 65px;
        flex: 1;
        align-self: center;
        z-index: 2;
        @media (max-width: 1280px){
            padding-right: 30px;
        }
        @media (max-width: 1199px){
            width: 50%;
            padding: 0 15px;
        }
        @media (max-width: 1099px){
            width: 100%;
            flex: auto;
            padding: 50px 20px;
        }
        .features_inner{
            margin-left: auto;
            margin-right: 0;
            max-width: 635px;  
            @media (max-width: 1099px){
                margin: 0 auto;
            }
            .feature{
                @media (max-width: 1280px){
                    & + .feature{
                        margin-top: 5px;
                    }
                }
                @media (max-width: 1199px){
                    & + .feature{
                        margin-top: 0;
                    }
                }
                .media-left{
                    padding-right: 35px;
                    @media (max-width: 1440px){
                        padding-right: 25px;
                    }
                    img{                        
                        @media (max-width: 1440px){
                            max-width: 50px;
                        }
                        @media (max-width: 1280px){
                            max-width: 40px;
                        }
                    }
                }
                .media-body{
                    h4{
                        font: bold 16px/28px $raleway;
                        color: #fff;
                        text-transform: uppercase;
                        @media (max-width: 1440px){
                            margin-bottom: 0;
                        }
                    }
                    p{
                        color: #a2a3a7;
                        font: 14px/26px $opensans;
                        @media (max-width: 1440px){
                            line-height: 22px;
                        }
                        @media (max-width: 1199px){
                            line-height: 20px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .maintenance_right{
        width: calc(50% - 115px);
        float: left;
        position: relative;
        @media (max-width: 1199px){
            width: 50%;
        }
        @media (max-width: 1099px){
            width: 100%;
            text-align: center;
        }
        img{
            width: 100%;
            height: 100%;
        }
        a{
            position: absolute;
            left: 0;
            font: italic 22px/28px $ptserif;
            color: #252525;
            bottom: 80px;
            padding: 15px 40px;
            background: #d6b161;
            @media (max-width: 1440px){
                bottom: 40px;
                padding: 10px 25px;
            }
        }
        &.ttup{
            text-transform: uppercase;
            a{
                font: normal bold 25px/1 $alegreya;
            }
        }
    }
    &.v2{
        .maintenance_left{
            .features_inner{
                .feature{
                    & + .feature{
                        margin-top: 20px;
                    }                    
                    @media (max-width: 1280px){
                        & + .feature{
                            margin-top: 5px;
                        }
                    }
                    @media (max-width: 1199px){
                        & + .feature{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}