.testimonial_header{
    display: block;
    margin-bottom: 45px;
    h2{
        font: bold 34px/1 $alegreya;
        text-transform: capitalize;
        margin: 0 0 5px;
        color: #282828;
         &:after{
            display: inline-block;
            content: '';
            width: 55px;
            height: 3px;
            background: $baseColor;
            margin-left: 10px;
        }
    }
    &.v2{
        text-align: center;
        h2{
            color: #fff;
            &:after{
                display: block;
                margin: 15px auto 0;
            }
        }
    }
}

.testimonials-area{
    background: #f3f5f7;
    display: block;
    .testimonials{
        @media (max-width: 991px){
            margin-bottom: 85px;
        }
        .testimonial{
            margin-top: 12px;
            .slide{
                padding-right: 15px;
                .testimonial-slider{
                    border-bottom: 1px solid #d8d8d8;
                }
                .testimonial-image{
                    width: 100%;
                    position: relative;
                    padding-left: 0;
                    margin-left: 0;
                    padding-top: 58px;
                    bottom: 0;
                    left: 0;
                    li{
                        text-indent: 0px;
                        width: 80px;
                        height: 80px;
                        margin: 1px;
                        border-radius: 50%;
                        margin-right: 50px;
                        padding: 3px;
                        background: transparent;
                        border: 1px solid transparent;
                        position: relative;
                        @media (max-width: 479px){
                            margin-right: 3px;
                        }
                        img{
                            max-width: 100%; 
                            opacity: 0.60;
                            border-radius: 100%;
                        }
                        &.active{
                            transform: scale(1.2);
                            border-color: #d4d4d4;
                            background: #fff;
                            &:before{
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                content: "";
                                top: -51px;
                                display: block;
                                border-bottom: 1px solid #d8d8d8;
                                border-right: 1px solid #d8d8d8;
                                transform: rotate(45deg);
                                left: 41%;
                                background: #f3f5f7;
                            }
                            img{ 
                                opacity: 1;
                            } 
                        }
                        &:last-child{
                            margin-right: 0px
                        }
                    }
                }
                .testimonial-text{
                    position: relative;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    text-align: left;
                    text-shadow: none;
                    color: #8d8d8d;
                    padding-top: 0;
                    h5{
                        font-family: $opensans;
                        font-size: 18px;
                        line-height: 26px;
                        color:#242424;
                        margin: 0 0 15px;
                    }
                    p{
                        font-family: $opensans;
                        font-size: 14px;
                        line-height: 26px;
                        letter-spacing: 0.4px;
                        color:#8d8d8d;
                    }
                    h6{
                        font-family: $opensans;
                        font-size: 14px;
                        line-height: 15px;
                        text-align: right;
                        a{
                            color:#ff9000;
                        }
                    }
                }
            }
         }
    }
    &.v2{
        background: #181818;
        position: relative;
        z-index: 0;
        text-align: center;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            background: url(../images/testimonials/bg.jpg) no-repeat scroll center top;
            background-size: cover;
            z-index: 1;
            opacity: 0.28;
        }
        .container{
            position: relative;
            z-index: 2;
            max-width: 970px;
            .testimonials{
                .testimonial{
                    .slide{
                        .testimonial-slider{
                            border-color: rgba(255,255,255,0.4);
                        }
                        .testimonial-image{
                            li{
                                border: none;
                                @media (max-width: 479px){
                                }
                                img{
                                }
                                &.active{
                                    background: transparent;
                                    &:before{
                                        background: none;
                                        top: -50px;
                                        opacity: 0.4;
                                        border-color: #fff;
                                    }
                                    img{
                                    } 
                                }
                                &:last-child{
                                }
                            }
                        }
                        .testimonial-text{
                            text-align: center;
                            h5{
                                color: #fff;
                                position: relative;
                                margin-bottom: 5px;
                                &:before{
                                    content: '“';
                                    display: inline-block;
                                    font: 130px/35px "Arial";
                                    color: #e1ba60;
                                    padding-top: 50px;
                                    height: 35px;
                                    overflow: hidden;
                                    margin-right: 20px;
                                }
                            }
                            p{
                                font-size: 18px;
                                line-height: 30px;
                                color: #c6c6c6;
                            }
                            h6{
                                text-align: center;
                                font-size: 16px;
                                margin-top: 20px;
                                a{
                                }
                            }
                        }
                    }
                 }
            }
        }
    }
}

.bg_top{
    background: #f5f5f5;
    .member_comment{
        background: #fff;
    }
}

.bg_bottom{
    background: #fff;
    .member_comment{
        background: #f5f5f5;
    }
}

.testimonials{
    .members{
        text-align: center;
        .member{
            & + .member{
                @media (max-width: 767px){
                    margin-top: 50px;
                }
            }
            img{
                
            }
            h4{
                font: bold 16px/28px $opensans;
                color: #242424;
                margin: 0;
                padding: 30px 0 15px 0;
            }
            .member_comment{
                
                padding: 30px;
                border-top: 2px solid #e0e0e0;
                @media (max-width: 1199px){
                    padding: 20px 15px;
                }
                @media (max-width: 767px){
                    padding: 15px;
                }
                p{
                    font: 15px/26px $opensans;
                    color: #898989;
                    @media (max-width: 1199px){
                        margin-bottom: 0;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}